.double-nav {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: grey;
}
.bar {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100%;
  background-color: grey;
}
