.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 20px;
  height: 50px;
  position: sticky;
}

ion-icon {
  height: 30px;
  width: 30px;
  color: white;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 80px;
  align-items: center;
}

.icon-box {
  display: flex;
  align-items: center;
}

.youtube {
  display: flex;
  align-items: center;
}
.y-txt {
  color: white;
  font-size: 20px;
  margin-left: -6px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 300;
}

.search {
  width: 600px;
  border-radius: 20px;
  border: 1px solid grey;
  height: 40px;
  outline: none;
  padding-left: 10px;
  background-color: transparent;
  border: 1px solid rgb(75, 75, 75);
  overflow: hidden;
  color: white;
}

.search-btn {
  box-sizing: content-box;
  position: absolute;
  height: 20px;
  width: 20px;
  right: 39px;
  background-color: rgb(46, 46, 46);
  padding: 15px 25px;
  color: white;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border: none;
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  overflow: hidden;
}

.mic {
  display: flex;
  justify-content: center;
  background-color: rgb(58, 58, 58);
}

.btns {
  width: 150px;
  height: 40px;
  display: flex;

  gap: 30px;
  align-items: center;
}

:where(.mic, .upload, .noti, .mail) :hover {
  border-radius: 50%;
  background-color: rgb(49, 49, 49);
  stroke: white;
}

.upload,
.mic,
.noti,
.mail {
  box-sizing: content-box;
  height: 25px;
  width: 25px;

  border-radius: 50%;
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}

.nav-icon,
.mic {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
