.duration {
  display: flex;
  gap: 7px;
  font-size: 12px;
  color: grey;
  font-family: Mulish;
}

.container {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-weight: 400;
}

.info {
  display: flex;
  gap: 10px;
}
.logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: fill;
  border: none;
}
.title {
  font-size: 18px;
}
.youtuber {
  font-size: 16px;
  color: grey;
  font-family: Mulish;
}
.vid-img {
  height: 230px;
  width: 350px;
  border-radius: 12px;
}
.txt-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: white;
  font-family: Rubik;
}
.views {
  display: flex;
  gap: 5px;
}
